<div class="container">
  <h3 class="h-3 mt-3 mb-3">Please Upload CSV File</h3>
  <hr />
  <% if( locals.csvFiles && locals.csvFiles.length > 0){ %>
  <h3 class="mt-3 mb-3"><%= csvFiles.length %> File(s) Found</h3>

  <div class="list-group mt-3 mb-3">
    <% for(let file of csvFiles){ %>
    <a
      href="/file-csv/<%= file %>"
      class="list-group-item list-group-item-action"
      ><%= file %></a
    >
    <% } %>
  </div>

  <% } else { %>

  <h3 class="mt-3 mb-3"><%= locals.csvFiles.length %> Files Found</h3>

  <% } %>

  <form action="/upload-csv" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="csv">Upload CSV File</label>
      <input
        type="file"
        name="csv"
        accept=".csv"
        multiple="false"
        required
        id="csv"
      />
    </div>
    <input type="submit" value="Upload File" class="btn btn-info" />
  </form>
</div>
